# Codeblocks
obj/
bin/
build/
*.cbp
*.depend
*.layout
# Makefile
*.o
*.mod
*.x
# RuNNer input files
RuNNer_input/*
# input files
*.inp
!md_tian.inp
# conf folder
conf/ads*
conf/pos* 
conf/mxt*
conf/proj
conf/latt
conf/latt_300K
!conf/proj/mxt_00000001.dat
!conf/latt/mxt_00000001.dat
# traj folder
traj/
!scripts/traj/
# output folder
poscar/
aims/
energy/
mxt/
runner/
vasp/
xyz/
# Manual
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.run.xml
*.toc
# General
*.swp
# Debug
*.dyn
